@charset 'UTF-8';

.container {
	display: flex;
	align-items: stretch;
}
.container .mozi-workspace {
	flex: 2;
	display: flex;
	flex-direction: column;
}
.container .mozi-console {
	flex: 3;
	display: flex;
	flex-direction: column;
}
.container .mozi-console {
	border: 1px solid #F7F7F7;
}
.container .mozi-console .console-header {
	display: flex;
	justify-content: space-between; 
	height: .3rem;
	padding: 0 .15rem;
	line-height: .3rem;
	font-size: .14rem;
	background: #EAEAEA;
	border-bottom: 1px solid #d8d8d8;
}
.container .mozi-console .console-header > span {
	display: inline-block;
	height: .3rem;
	padding: 0 .05rem;
	border-bottom: 2px solid #4078c0;
	margin-bottom: -1px;
}
.container .mozi-console .console-header > a {
	color: #000;
}
.container .mozi-console .console-header > a:hover {
	text-decoration: underline;
}
.container .mozi-console .mozi-console-container {
	padding: .1rem;
	height: auto;
	overflow: scroll;
}
.container .mozi-console p {
	font-size: .12rem;
	line-height: 1.4;
	color: #2f2e2e;
}
.mozi-workspace .mozi-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: content-box;
	padding-top: .4rem;
	height: .6rem;
	background: #3F51B5;
	order: -1;
}
.mozi-workspace .mozi-header .mozi-header-title {
	padding-left: .2rem;
	color: #FFFFFF;
	font-size: .16rem;
	font-weight: normal;
}
.mozi-workspace .mozi-header .mozi-header-plus {
	width: .4rem;
	height: .4rem;
	line-height: .4rem;
	margin-right: .1rem; 
	border-radius: 50%;
	color: #FFFFFF;
	background: #FF4081;
	text-align: center;
	font-size: .20rem;
	cursor: pointer;
	transition: background-color .3s ease;
}
.mozi-workspace .mozi-header .mozi-header-plus:hover {
	background-color: #F50057;
}
.mozi-workspace .mozi-list {
	flex: 1;
	background: #FFFFFF;
}
.mozi-list-item {
	background-color: #FFFFFF;
	transition: background-color .3s ease;
}
.mozi-list-item.current {
	background-color: #EFF0F1;
}
.mozi-list-item .mozi-list-content {
	display: flex;
	align-items: center;
	height: .7rem;
	padding: .1rem 0 .05rem .15rem;
	margin-top: .2rem; 
	font-size: .16rem;
	cursor: pointer;
}
.mozi-list-item .mozi-list-progress {
	height: .07rem;
	width: 100%;
}
.project-avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: .5rem;
	width: .5rem;
	background: #B2B2B2;
	border-radius: 50%;
	order: -1;
}
.project-desc {
	flex: 1;
	margin-left: .15rem;
}
.project-desc .project-desc-name {
	color: #000;
}
.project-desc .project-desc-path {
	color: #B2B2B2;
}
.project-desc .project-desc-name,
.project-desc .project-desc-path {
	line-height: .25rem;
	font-size: .14rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 2.4rem;
}
.project-actions {
	position: relative;
}
.project-actions .project-actions-icon {
	display: block;
	width: .2rem;
	height: .2rem;
	margin-right: .1rem;
	border-radius: 50%;
	background: #B2B2B2;
	color: #FFFFFF;
	cursor: pointer;
}
.project-actions .project-actions-icon > svg {
	width: .12rem;
	height: .12rem;
	margin-top: .04rem;
	margin-left: .04rem;
	fill: #FFFFFF;
}
.project-actions .project-actions-wrap {
	display: none;
	position: absolute;
	width: .8rem;
	top: -.1rem;
	right: 0;
	border-radius: 2px;
	background: #FFFFFF;
	z-index: 10;
}
.project-actions:hover .project-actions-wrap {
	display: block;
}
.project-actions .project-actions-list {
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 4px;
}
.project-actions .project-actions-list .project-actions-item > a {
	display: block;
	height: .3rem;
	line-height: .3rem;
	font-size: .12rem;
	color: #000;
	text-align: center;
}
.project-actions .project-actions-list .project-actions-item > a:hover {
	background: #D2D2D2;
}
.mozi-workspace .mozi-actions {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: .6rem;
	font-size: .16rem;
}
.mozi-workspace .mozi-actions .mozi-actions-item > button {
	display: block;
	width: .6rem;
	height: .3rem;
	line-height: .3rem;
	font-size: .12rem;
	text-align: center;
	background-color: #3F51B5;
	color: #FFFFFF;
	transition: background .3s ease;
	border: none;
	cursor: pointer;
	outline: none;
}
.mozi-workspace .mozi-actions .mozi-actions-item > button[disabled] {
	cursor: not-allowed;
	background: #ccc;
}
.mozi-workspace .mozi-actions .mozi-actions-item > button:hover:not([disabled]) {
	background-color: #303F9F;
}
/* progress style */
.progress {
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-color: #3F51B5!important;
	background-size: 36px 36px;
	animation: progress-stripes .5s linear infinite;
}
@keyframes progress-stripes {
	from {
    	background-position: 36px 0;
    }
    to {
    	background-position: 0 0;
    }
}




